{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Create an account</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.birthDate) }}
        {{ form_row(registrationForm.phoneNumber) }}
        {{ form_row(registrationForm.gender) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        {% if role == "host" %}
            {{ form_row(registrationForm.nationalNumberId) }}
        {% elseif role == "refugee" %}
            {{ form_row(registrationForm.status) }}
        {% endif %}

        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn btn-primary mb-3">Register</button>
        <div><a href=" {{ path('app_login') }}">I have an account</a></div>
    {{ form_end(registrationForm) }}
{% endblock %}


{# Ceci n'est plus necessaire #}

        {# <fieldset>
            <legend>I'm a:</legend>
            <div>
                <input type="radio" id="refugee" name="role" value="refugee"
                        checked>
                <label for="huey">Refugee</label>
            </div>
            <div>
                <input type="radio" id="host" name="role" value="host">
                <label for="host">Host</label>
            </div>
        </fieldset> #}
