{% extends 'base.html.twig' %}

{% block title %}KindCities | Services for Refugees

{% block stylesheets %}
<style>
	#form_address {
		display: none;
	}
</style>

{% endblock %}

{% endblock %}

{% block body %}


	<h1>Offer a new service</h1>
	<h2>Please fill the following information about your service.</h2>
	
	{{ form_start (form, {
					'attr': {'id': 'form_service'} ,
					'action': path('create_service')			
					}
		)
	}}
	{{ form_widget (form) }}
	{{ form_end (form, {render_rest:false}) }}

	<button id="addAddress">Add a new address</button>
	

	{{ form_start (form_address, {'attr': {'id': 'form_address'}} ) }} 
	{{ form_widget (form_address) }}
	
	<button id="sendAddress" data-route="{{ path ("add_address") }}">Add</button>
	{{ form_end (form_address) }}
	
	<input id="submit_service" type="submit" value="Post a new service">

{% endblock %}

{% block javascripts %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	let addAddress = document.getElementById("addAddress"); 
	let sendAddress = document.getElementById("sendAddress");
	let formAddress = document.getElementById("form_address");
	


	addAddress.addEventListener("click", function (event) {
		event.preventDefault();

		console.log(document.getElementById("form_address"));
		formAddress.style.display = "block"; 

		
	});



	sendAddress.addEventListener("click", function (event) {
			event.preventDefault();
			console.log (event.target);
			// faire l'appel ajax ici 
			axios({
				url: event.target.dataset.route,
				method: 'POST',
				headers: { 'Content-Type': 'multipart/form-data' },
				data: new FormData(document.getElementById("form_address"))
			})
			.then(function (response){
				console.log(response.data);
				address = JSON.parse(response.data); 
				console.log(address);
				console.log(address.id)
				
				const newOption = document.createElement('option');
				const optionText = document.createTextNode(`${address.number} ${address.street}, boite ${address.box}, ${address.city}, ${address.state}, ${address.country}`);
				newOption.appendChild(optionText);
				newOption.setAttribute(`value`, `${address.id}`);
				newOption.setAttribute('selected', 'selected');

				const select = document.querySelector('select#service_address');
				select.appendChild(newOption);
			});
			formAddress.reset();
			formAddress.style.display = "none"; 
	});


	submit_service.addEventListener("click", function (event) {
		form_service.submit();
	});	
</script>

{% endblock %}
