{% extends 'base.html.twig' %}

{% block body %}
	<div class="example-wrapper">
		<h1>All services</h1>

        {% for service in services %}
            <div class="card" style="width: 18rem;">
                {# <img src="/public/images/services/" class="card-img-top" alt="..."> #}
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>
                    By <a href="#" class="card-link">{{ service.disponibilites[0].host.firstName }}</a>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ service.categorie.name }}</h6>
                    <p class="card-text">{{ service.description }}</p>
                    <a href="{{ path('service_details', {'id': service.id }) }}" class="btn btn-primary">Discover this service</a>
                </div>
            </div>  
        {% endfor %}
	</div>

{% endblock %}
