{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}

{% if upcomingBookings|length > 0 %}
<h1>Upcoming Reservations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Arrival Date</th>
      <th scope="col">Departure Date</th>
      <th scope="col">Service</th>
      <th scope="col">Host</th>
      <th scope="col">Booking Code</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {# {% let i  = 1 %} #}
    {% for upcomingBooking in upcomingBookings %}
    <tr>
      <th scope="row">1</th>
      <td>{{ upcomingBooking.beginDate | date("d/m/Y") }}</td>
      <td>{{ upcomingBooking.endDate | date("d/m/Y") }}</td>
      <td><a href="{{ path('service_details', {'id': upcomingBooking.service.id }) }}">{{ upcomingBooking.service.name }}</a></td>
      <td>{{ upcomingBooking.host.firstName}} {{upcomingBooking.host.lastName}}</td>
      <td>{{ upcomingBooking.codeReservation }}</td>
      <td><a href="#" class="btn btn-outline-info">Edit</a></td>
      {# <td><a href="{{ path('edit_reservation' , {'id': booking.id })}}" class="btn btn-outline-info">Edit</a></td> #}
      <td><a href="#" class="btn btn-danger">Cancel</a></td>
      {# <td><a href="{{ path('delete_reservation', {'id': booking.id })}}" class="btn btn-danger">Cancel</a></td> #}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if passedBookings|length > 0 %}
  <h1>Passed Reservations</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Arrival Date</th>
        <th scope="col">Departure Date</th>
        <th scope="col">Service</th>
        <th scope="col">Host</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {# {% let i  = 1 %} #}
      {% for passedBooking in passedBookings %}
      <tr>
        <th scope="row">1</th>
        <td>{{ passedBooking.beginDate | date("d/m/Y") }}</td>
        <td>{{ passedBooking.endDate | date("d/m/Y") }}</td>
        <td><a href="{{ path('service_details', {'id': passedBooking.service.id }) }}">{{ passedBooking.service.name }}</a></td>
        <td>{{ passedBooking.host.firstName}} {{passedBooking.host.lastName}}</td>
        <td><a href="#" class="btn btn-outline-info">Leave a review to the Guest</a></td>
        {# <td><a href="{{ path('edit_reservation' , {'id': booking.id })}}" class="btn btn-outline-info">Edit</a></td> #}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if passedBookings|length == 0 and upcomingBookings|length == 0 %}
  <div>
    <p>You haven't made any bookings yet.</p>
  </div>
{% endif %}
{% endblock %}